.nav {
  width: 100%;
  display: flex;
justify-content: space-around;
background:blue;
padding: 20px;
border: 10px;

}

.nav div {
border: 1px solid rgb(244, 243, 247);
padding: 10px;
cursor: pointer;
border-radius: 0.25rem;

}

.nav div:hover{
  background: rgb(8, 238, 27);
}

.movieList{
  background:blue;
  border:1px solid rgb(39, 247, 60);
  margin: 5px;
  width:365px;

}
.Par {
  background-color: blue;
  color:rgb(244, 244, 247) ;
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  text-shadow: 10px;
  text-emphasis-style:calc(10px);
  
  height: 65px;
}
.input  {
   background-color:blue;
  display: flex;
  justify-items: center;
  justify-content: center;
  border: 10px; ;
  height: 65px;
 width:100%;
  color: rgb(255, 255, 255);
  margin: 0px;
padding: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;

};



